header {
  position: fixed;

  width: 100vw;
  height: 60px;

  background: #040213ab;

  border: 1px solid #02021e;
	
  background: to right, rgba(116, 9, 121, 0.5), rgba(185, 8, 246, 0.5),
    rgba(91, 28, 230, 0.5) inset;
    
    z-index: 10;
}

@keyframes content-appear {    
	from {      
		opacity: 0;   
		}
		
	to {      
		opacity: 1;    
	} 
}

.appearAnimation {    
	animation-name: content-appear;    
	animation-duration: 0.5s; 
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  width: 9rem;
  padding: 1rem;
}

.nav__links .nav__button {
  padding: 0 0.5rem;

  text-decoration: none;
  font-size: 0.6rem;
  font-weight: 600;

  color: #fff;
}

.nav__button.assine-agora {
  padding: 0.5rem 0.7rem;

  background: #940dbd;

  margin-right: 0.5rem;

  border-radius: 1rem;

  text-align: center;
}

@media screen and (min-width: 768px) {
	header {
		height: 70px;
	}
}
